a,
a:visited,
a:before,
a:after {
  text-decoration: none;
  color: #d1d1d1; /* Adjusted for dark mode */
}

a:hover {
  background-color: #444444; /* Adjusted for dark mode */
}

/* start navbar */
/* The sidebar menu COLLAPSED SIDEBAR*/
.sidebar {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: rgba(160, 160, 160, 0.9); /* Dark background */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000; /* Adjusted for dark mode */
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 40px;
  margin-left: 50px;
}

/* The button used to open the sidebar */

.openbtn {
  margin-top: 10px;
  position: relative;
  display: inline-block;
  height: 50px;
  cursor: pointer;
}

.openbtn div {
  width: 70px;
  height: 10px;
  background-color: lightgray; /* Adjusted for dark mode */
  border-radius: 3px;
  position: absolute;
  transition: 0.4s;
}

.openbtn:hover div {
  width: 35%;
}

.line1 {
  top: 0;
}

.line2 {
  top: calc(30%);
}

.line3 {
  top: calc(60%);
}

.openbtn:hover .line1 {
  transform: translate(10px, 7px) rotate(30deg);
  border-radius: 7px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.openbtn:hover .line3 {
  transform: translate(10px, -7px) rotate(-30deg);
  border-radius: 7px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* NUOVO MAIN */
.main-wrapper {
  position: relative;
  width: 100%;
  max-width: 1500px;
  margin: auto;
}

.title-divider {
  font-size: 64px;
  color: #000000; /* Adjusted for dark mode */
  padding: 0 10px;
}

/* MAIN GIA' PRESENTE*/
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

/*NAVBAR GIA' PRESENTE*/
nav {
  height: 50px;
  box-shadow: 0 4px 2px -2px #ffffff; /* Adjusted for dark mode */
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #333333; /* Adjusted for dark mode */
}

.nav-container {
  display: flex;
  width: 96%;
  margin: auto;
  justify-content: flex-end;
  height: 50px;
  align-items: center;
  letter-spacing: 3px;
  font-size: 1.1em;
}

.company-name {
  margin-right: auto;
}

.nav-right {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*end nav*/

/*start main*/

main {
  margin-top: 50px;
}

.main-wrapper {
  max-width: 1500px;
  margin: auto;
  text-align: center;
  position: relative;
  margin-top: 4%;
  z-index: -1;
}

img {
  z-index: -1;
  position: relative;
  max-width: 100%;
  height: auto;
}

.company-name-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 3em;
  letter-spacing: 3px;
  color: #ffffff; /* Adjusted for dark mode */
}

.architects-img {
  color: black;
}

.br-img {
  padding: 8px 15px;
  background-color: black;
  color: white;
  opacity: 0.75;
}

/*end main*/

/*start projects section*/

.projects-section {
  padding-top: 70px;
  padding-left: 25px;
  padding-right: 25px;
  max-width: 1500px;
  margin: auto;
}

h3 {
  font-weight: normal;
  font-size: 1.6em;
  color: #bbbbbb; /* Adjusted for dark mode */
}

.projects-container {
  margin-top: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.house-container {
  position: relative;
}

.house-name {
  position: absolute;
  padding: 8px 16px;
  color: white;
  background-color: #444444; /* Adjusted for dark mode */
  font-size: 18px;
  line-height: 1.5;
}

/*end projects section*/

/*start about section*/

.about-section {
  padding-top: 70px;
  padding-left: 25px;
  padding-right: 25px;
  /*height: 1000px;*/
  max-width: 1500px;
  margin: auto;
}

.about-section p, li {
  line-height: 1.5;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #bbbbbb; /* Adjusted for dark mode */
}

.about-team {
  display: flex;
}

.person-card {
  padding: 8px;
  background-color: #333333; /* Adjusted for dark mode */
  color: white; /* Adjusted for dark mode */
}

#first-person {
  padding-left: 0;
}

#second-person {
  padding-right: 0;
}

.person-card h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.person-title {
  opacity: 0.6;
}

.person-contact {
  display: block;
  margin: 0;
  /*box-sizing: border-box;*/
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #444444; /* Adjusted for dark mode */
  border: none;
  text-decoration: none;
  font-size: 1.2em;
}

.person-contact:hover {
  cursor: pointer;
  background-color: #666666;
}

/*end about section*/

/*start contact section*/

.contact-section {
  padding-top: 70px;
  padding-left: 25px;
  padding-right: 25px;
  /*height: 1000px;*/
  max-width: 1500px;
  margin: auto;
}

.contact-section p {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1.1em;
  color: #bbbbbb; /* Adjusted for dark mode */
}

input {
  display: block;
  padding: 8px;
  width: 100%;
  margin-top: 15px;
  opacity: 0.9;
  font-size: 1.1em;
  background-color: #444444; /* Adjusted for dark mode */
  color: white; /* Adjusted for dark mode */
}

textarea {
  background-color: #444444; /* Adjusted for dark mode */
  color: white; /* Adjusted for dark mode */
}

.send-btn {
  margin-top: 30px;
  padding: 8px 16px;
  text-decoration: none;
  border: none;
  font-size: 1.1em;
  background-color: #444444; /* Adjusted for dark mode */
  color: white;
}

.send-btn:hover {
  cursor: pointer;
  background-color: #444444;
  color: black;
}

/*end contact section*/

#googleMap {
  margin-top: 60px;
}

/* footer */
footer {
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  background-color: #222222; /* Adjusted for dark mode */
  color: white; /* Adjusted for dark mode */
}

footer p {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Personalizzazione dei link nel footer */
footer a {
  color: white !important;
}

footer a:hover {
  color: white;
  text-decoration: underline;
}

/* VAI AD ALTRE SCHEDE DA IMG */
.house-container {
  position: relative;
  display: inline-block;
}

.house-container img {
  width: 100%;
  height: auto;
  transition: filter 0.3s ease;
  /* Per l'effetto di transizione */
}

.house-container:hover img {
  filter: grayscale(100%);
  /* Immagine diventa grigia */
}

.house-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Adjusted for dark mode */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.house-container:hover .overlay {
  opacity: 1;
  /* Mostra il testo quando il cursore è sopra */
}

/* Aggiungi uno spazio tra il bullet e il testo */
bullet {
  /* display: inline-block; */
  margin-left: 10px;
}

/* Nascondi i bullet sugli schermi piccoli */
@media only screen and (max-width: 1000px) {
  .bullet {
    display: none;
    /* Nascondi i bullet sugli schermi piccoli */
  }
}

/* BUTTON */
button {
  background-color: #555555; /* Adjusted for dark mode */
  color: white;
  border: 1px solid #444444; /* Adjusted for dark mode */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-bottom-right-radius: 500px;
  border-top-left-radius: 500px;
  transition: transform 0.2s ease, background-color 0.3s, border-color 0.3s;
  outline: none;
}

/* Nuova classe per regolare solo i bottoni */
.button-container {
  position: relative;
  top: -30px;
  /* Sposta i bottoni verso l'alto senza toccare il contenuto sottostante */
}

.button-container button {
  margin-top: 0;
  /* Assicurati che i bottoni non abbiano margine sopra */
}

button:hover {
  background-color: #357ab7;
  border-color: #357ab7;
  transform: translateY(-3px);
}

/* STRUTTURA GENERALE */

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #222222; /* Adjusted for dark mode */
}

.main-wrapper {
  flex: 1;
}

footer {
  margin-top: auto;
}

/* CONTENUTO & TABELLA LIMITI SOCIALI*/
.content-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.text-content {
  width: 65%;
  max-width: 70%;
}

.right-column {
  position: relative;
  top: 55%;
  right: 7%;
  width: 27%;
  height: fit-content;
  border-left: 2px solid #444444; /* Adjusted for dark mode */
  border-top: 2px solid #444444; /* Adjusted for dark mode */
  border-bottom: 2px solid #444444; /* Adjusted for dark mode */
}

@media only screen and (max-width: 1000px) {
  .right-column {
    height: fit-content;
    position: relative;
    top: 55%;
    right: 2%;
    width: 34.1%;
  }
}

/* TABELLA */
.info-table {
  width: 100%;
  border-collapse: collapse;
  color: #bbbbbb;
}

.info-table th,
.info-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #444444;
}

.info-table th {
  background-color: #444444; /* Adjusted for dark mode */
  font-weight: bold;
}

.tabella-alternata{
  background-color: #444444;
}

.contenuto {
  padding: 20px;
  margin: 10px;
  border: 1px solid #444444;
  display: none;
  /* Impostiamo inizialmente a 'none' */
}

.contenuto h2{
  color: #bbbbbb;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 10px;
  /* Spazio tra gli elementi */
}

.flex-item {
  flex: 1 1 10vw;
  /* Ogni elemento occupa circa il 30% della larghezza dello schermo */
  min-width: 200px;
  /* Evita che diventi troppo stretto */
}

.btn.active {
  background-color: #357ab7;
  color: white;
}

.switch {
  margin: auto;
  color: hsl(0, 0%, 30%);
  font-weight: 900;
  font-size: 2rem;
  display: flex;
}

.toggle {
  width: 25px;
  height: 50px;
  background-color: hsl(0, 0%, 80%);
  border-radius: 1.7rem;
  padding: .25rem 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: background-color 300ms 300ms;
}

.toggle__circle {
  width: 20px;
  height: 20px;
  background-color: hsl(0, 0%, 0%);
  border-radius: 50%;
  margin-top: calc(30px - (.25rem * 2) - 0px);
  transition: margin 500ms ease-in-out;
}

.toggle-text {
  display: flex;
  flex-direction: column;
}

#check:checked + .toggle > .toggle__circle {
  margin-top: 0;
}

#check:checked + .toggle {
  background-color: lightgray;
}

.sezione {
  font-size: 2.5em;
  margin-bottom: 40px;
  color: #bbbbbb;
  font-weight: bold;
  letter-spacing: -1px;
}

.dati {
  background: #444444;
  border: 0px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 20px;
}

